section#services
    include ../components/cube
    +cube('SERVICES')
    article.container
        .wrap
            div.mining
                h1 Mining
                ul
                    -
                        var mining = [
                            {
                                class: 'bitcoin',
                                name: 'Bitcoin',
                                img: '/assets/services/bitecoin.svg'
                            },
                            {
                                class: 'ambrosus',
                                name: 'Ambrosus',
                                img: '/assets/services/ambrosus.svg'
                            },
                            {
                                class: 'qtum',
                                name: 'Qtum',
                                img: '/assets/services/qtum.svg'
                            },
                            {
                                class: 'tezos',
                                name: 'Tezos',
                                img: '/assets/services/tezos.svg'
                            },
                        ]
                    each m in mining
                        li
                            div.box
                                figure
                                    img(src=`${m.img}` alt="" class=`${m.class}`)
                                p= m.name


            div.border
            div.advisory
                h1 Advisory
                ul
                    -
                        var acc = [
                            {
                                class:'',
                                img: '/assets/services/fundraise.svg',
                                content:'Fundraising',
                                
                            },
                            {
                                class:'',
                                img: '/assets/services/exchanges.svg',
                                content:'Exchange Partnership',
                                
                            },
                            {
                                class:'',
                                img: '/assets/services/marketing.svg',
                                content:'Marketing & Event Coordination',
                                
                            },
                            {
                                class:'',
                                img: '/assets/services/transnational.svg',
                                content:'Transnational Business Development'
                            }
                        ]
                    each a in acc
                        li(class=`${a.class}`)
                            figure
                                img(src=`${a.img}`, alt="")
                            p= a.content